.modal-content.bg-dark {
    background-color: #2d3a35 !important;
}
.input-group-text {
    background-color: #424d4a !important;
    border: unset !important;
}

.form-control, .form-select {
    background-color: #424d4a !important;
    border-color: #fff3 !important;
    color: #fff !important;
}

::placeholder {
    color: #fff !important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: #fff !important;
}

.form-select {
    --bs-form-select-bg-img: url(../images/chevron-down-solid.svg) !important;
}

.btn-success {
    background-color: #138959 !important;
}

.border-success {
    border-color: #49D49C !important;
}